@import "http://js.arcgis.com/3.20/dijit/themes/claro/claro.css"; 
		    
		    html, body, #map {
		      padding:0;
		      margin:0;
		      height:100%;
		    }
		    #BasemapToggle {
		      position: absolute;
		      top: 20px;
		      right: 20px;
		      z-index: 50;
		    }
			#search {
		      display: block;
		      position: absolute;
		      z-index: 2;
		      top: 20px;
		      left: 74px;
		   }
		   #HomeButton {
		    position: absolute;
		    top: 95px;
		    left: 20px;
		    z-index: 50;
		  }
		  #messages{
	        background-color: #fff;
	        box-shadow: 0 0 5px #888;
	        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	        font-size: 0.8em;
	        max-width: 15em;
	        padding: 0.5em;
	        position: absolute;
	        left: 20px;
	        bottom: 20px;
	        z-index: 40;
	      }